.tabs dd {
position: relative;
margin-bottom: 0 !important;
top: 1px;
float: left;
width: 90px;

}

.tabs dd.active a{
	background: pink;
	transition: background .5;
}

.container{
	margin: 0 auto;
}
